<div class="four wide column">
    <a href="https://sylius.com/plus" target="_blank" style="display: inline-block; text-align: center;">
        <h4 class="ui inverted header" style="color: #808080;">

        </h4>
        <img class="ui fluid image" style="max-width: 160px;" src="{{ asset('assets/shop/img/Robotechwhite.svg') }}" alt="robotech">
    </a>
</div>
