{% if products|length == 4 %}
    {% set columns = "two" %}
{% endif %}
{% if products|length == 5 %}
    {% set columns = "five odd doubling" %}
{% endif %}

<div class="ui {{ columns|default('') }} cards">
    {% for product in products %}
        {% include '@SyliusShop/Product/_box.html.twig' %}
    {% endfor %}
</div>
