

<div class="ui items">
    <div class="item">
        <div class="big image">
            <img src="/assets/shop/img/cat.png">
        </div>
        <div class="Content">
            <a class="header large">
                    {{ 'sylius.homepage.about_us'|trans }}
                </a>

            <div class="description">
                <h3 class="">Notre Vision pédagogique :</h3>
                <h4>Introduction au monde technologique</h4>
                <p>La robotique offre un vaste potentiel pédagogique dans les cursus scolaires. Tenant compte de l’évolution rapide des technologies, nous souhaitons partager le savoir et le savoir-faire en informant, assistant et formant les enseignantes à l’introduction de robots à l’école comme outils pédagogiques complémentaires, en étant à l’écoute de leurs besoins, leurs désirs et leurs idées.</p>
                <h4>Démarche expérimentale</h4>
                <p> Tout d’abord, la robotique constitue un excellent domaine pour la mise en application d’une démarche scientifique expérimentale. Il est ainsi possible de demander aux élèves d’observer un objet, d’émettre des hypothèses quant à son fonctionnement, de trouver des moyens de vérifier ces dernières pour les amener à comprendre, en grande partie par eux-mêmes, les capacités du robot.
                    Cette démarche a aussi l’avantage de rendre évidents les liens entre le fonctionnement externe du robot (ses possibilités d’agir) et son fonctionnement interne (les phénomènes physiques qui le rendent capable d’agir). Cette distinction entre fonctionnement interne et externe diversifie en outre le potentiel d’utilisation des robots qui peuvent être utilisés soit de façon « fermée » (on utilise les fonctionnalités du robot sans chercher à comprendre son fonctionnement), soit de façon « ouverte » (pour comprendre comment il fonctionne).
                </p>
                <h4>Processus de création</h4>
                <p class="bg-blue">  La robotique constitue aussi un support particulièrement pertinent pour illustrer certaines étapes des processus de création : concevoir, fabriquer, programmer, tester. Elle permet ainsi d’illustrer les liens entre l’idée à l’origine d’un projet et le travail lié à sa concrétisation. C’est pour l’élève l’occasion de faire le lien entre la vision théorique de nombreuses disciplines et la réalité. On peut aussi voir ici les robots comme un point possible de contact entre des approches conceptuelles (mathématiques, sciences, informatique) ou des méthodes plus pragmatiques (travaux manuels, travaux pratiques).
                    De plus, la robotique consiste aussi à introduire une forme d’intelligence dans des objets. La façon dont on procède pour y parvenir (utilisation de la logique, des mathématiques, de phénomènes physiques, etc.) peut certainement ouvrir des perspectives nouvelles pour les enseignants (sans qu’il soit bien sûr question de réduire l’enseignement à un simple processus de programmation).
                </p>
                <h4>Apprentissage amusant</h4>
                <p>   Finalement, nous pensons que la découverte de la robotique, notamment par son côté ludique, vous permettra de rompre une éventuelle routine dans votre enseignement : les mises en pratique effectuées à ce jour ont montré que, quels que soient leur âge et leurs capacités scolaires, les élèves sont en général très réceptifs aux robots. Ces derniers favorisent en outre le travail pluridisciplinaire en groupe et stimulent beaucoup les élèves.

                </p>
            </div>

        </div>
    </div>
</div>

