<div class="ui center aligned inverted basic segment">
    <p>&copy; {{ 'sylius.ui.your_store'|trans }} <a href="127.0.0.1:8000" target="_blank" style="color: #1abb9c;">ROBOTECH</a>.</p>
    <a target="_blank" href="#"><i class="big grey facebook icon"></i></a>
    <a target="_blank" href="#"><i class="big grey instagram icon"></i></a>
    <a target="_blank" href="#"><i class="big grey twitter card icon"></i></a>
</div>
