<a class="item" href="{{ path('sylius_admin_dashboard') }}" style="padding: 13px 0;">
    <div style="max-width: 30px; margin: auto 40px;">
        <img src="{{ asset('assets/admin/img/ROBOTECH.svg') }}" class="ui fluid" margin="auto" height="auto" width="150px">
    </div>
</a>
